<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editando ando:</h1>
    <form 
    th:action="@{'/edit/'+${technology.id}}"
    th:object="${technology}"
    method="post">
        <label for="tech-name">Technology:</label><br>
        <input type="text" name="name" id="tech-name" th:field="*{name}"><br>
        <label for="tech-years">Years of experience</label><br>
        <input type="text" name="years" id="tech-years" th:field="*{years}">
        <button type="submit">Upload</button>
    </form>
</body>
</html>