<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ingresa algo wey:</h1>
    <form 
    action="#"
    method="post"
    th:action="@{/edit}">
    <label for="technologies">write the techs:</label></br>
    <textarea th:value="${techString}" name="techString" id="technologies" cols="30" rows="10"></textarea></br>
    <button type="submit">Submit</button>
    </form>
</body>
</html>